@model List<KPITEmployeeProject.Models.tblEmployee>

<style>
    thead {
        background-color: black;
        color: white
    }

    table {
        border: 1px solid black;
    }

    td, th {
        padding: 5px;
        font-size: 14px;
    }
</style>

<table class="table table-bordered table-striped" border="1" style="border-color:black">
    <thead>
        <tr>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>MobileNo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmpCode</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.Email</td>
                <td>@item.MobileNo</td>
            </tr>
        }
    </tbody>
</table>
